.task-completed h5 {
  text-decoration: line-through;
}

.task-completed .fa-check-circle {
  visibility: visible;
}

.loading-text {
  visibility: hidden;
}

/* Adding more specificity */
.tasks-container .task-completed h5 {
  text-decoration: line-through;
}

.tasks-container .task-completed .fa-check-circle {
  visibility: visible;
}

.tasks-container .loading-text {
  visibility: hidden;
}
